# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
rt-env/
venv/
ENV/

# PyTorch
*.pt
*.pth
*.onnx

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
wandb/
data/satnet/
data/sudoku-hard/
data/visual_sudoku/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints 